body {
  background-color: rgb(248, 246, 249);
}

.flowerPic {
  position: absolute;
}

.headerFirst {
  padding-top: 5%;
}

.textBox1 {
  margin-top: 18%;
}

.middleSection {
  padding-top: 20%;
}

.videoSection {
  height: 314px;
  background-color: powderblue;
}